@font-face {
    font-family: 'Neuropol';
    src: url("./neuropol-x-free.rg-regular.otf") format("opentype");
}

#project4 {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    background-color: #dddee5;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
  }
  
  #project4:hover #project4-overlay {
    transform: translate3d(0, 0, 0);
  }
  
  #heading-4 {
    text-align: center;
    color: #ffffffc0;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: min(3.5dvw, 25pt);
    margin-top: 25px;
    margin-bottom: auto;
    font-family: 'Neuropol';
    background-image: linear-gradient(0deg, #122c4a 0%, #9575cd 100%);
  }
  
  #project4-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #15253f;
    transition: transform 300ms;
    transform: translate3d(0, calc(100% - 5rem), 0);
  }
  
  #top-overlay-text-4 {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 600;
    display: block;
    padding: 0rem 1rem 1rem 1rem;
    background-color: #15253f;
    overflow: hidden;
  }
  
  #bot-overlay-text {
    margin-top: -20px;
    flex-grow: 1;
    padding: 1rem;
    background-color: #15253f;
    overflow: hidden;
  }
  
  #link-4 {
    font-size: 26px;
    margin-top: 5px;
    color: #9575CD;
    font-weight: 700;
  }
  
  a {
    text-decoration: none;
  }


  @media (min-width: 1200px) {
    #heading-4 {
      font-size: 1.75dvw;
    }
  }