.content h3 {
	font-size: 20pt;
  margin: 0px 15px;
  background-color: transparent;
}

p {
  margin-bottom: 35px;
  padding: 0 2em 0em 2em;
}

.l-contained {
  // padding: 0px 15px;
  padding-left: 30px;
}

.timeline-list {
  margin-top: 35px;
  margin-left: 15px;
	padding-bottom: 10px;
	position: relative;
 
  &:before {
		content: "";
     border-left: 5px solid #CCC;
     left: -0.25em;
     position: absolute;
     bottom: 0;
     top: 0;
    transform-origin:0 0;
    animation:scaleVertical 3s 1s ease both 1;
	}

	&:after {
		content: "";
    clear:both;
		position: absolute;
		bottom: 0px;
		left: -1em;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: none repeat scroll 0% 0% #DDD;
		border: 5px solid #DDD;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation:revealScaleUp 0.75s 2.82s ease both 1;
	}
}

.timeline-list li {
  list-style: none;
  left: -2.5em;
  position: relative;
}

.timeline-list li:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -1.45em;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: none repeat scroll 0% 0% #d3494e;
	border: 5px solid #fff;
  animation:revealScaleUp 0.75s 0s ease both 1;
}

.timeline-list {
  animation:reveal 2s 0 ease both 1;
}

.timeline-list li .content {
  animation:revealFromLeft 0.5s 0s ease both 1;
}

.timeline-list li:nth-child(1):before {
  animation-delay:0.85s;
}

.timeline-list li:nth-child(1) .content {
  animation-delay:1.05s;
}

.timeline-list li:nth-child(2):before {
   animation-delay:1.2s;
}

.timeline-list li:nth-child(2) .content {
  animation-delay:1.5s;
}
.timeline-list li:nth-child(3):before {
  animation-delay:1.8s;
}

.timeline-list li:nth-child(3) .content {
  animation-delay:2.1s;
}
.timeline-list li:nth-child(4):before {
  animation-delay:2.2s;
}

.timeline-list li:nth-child(4) .content {
  animation-delay:2.5s;
}

@keyframes revealFromLeft {
  0% {
    transform:translateX(-1em);
    opacity:0;
  }
  100% {
    opacity:1;
    transform:translateX(0);
  }
}

@keyframes reveal {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes scaleVertical {
  0% {
    transform:scaleY(0);
    
  }
  100% {
    transform:scaleY(1);
  }
}

@keyframes revealScaleUp {
  0% {
    opacity:0;
    transform:scale(0.5);
  }
  
  50% {
     opacity:1;
     transform:scale(1.3);
    
  }
  100% {
    opacity:1;
    transform:scale(1);
    
  }
}